* {
    text-align: center;
    font-family: 'Roboto', sans-serif !IMPORTANT;
    font-size: xx-large;
}

.in-middle {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.in-middle p {
    margin-bottom: 0px;
}

.bg-image {
    /* The image used */
    background-image: url("bg.png");
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    font-size: small;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    position: absolute;
    bottom: 00%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 30%;
    padding: 10px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    footer {
        bottom: -25;
    }
}