<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="7; url='{{ page.redirect_url }}'" />

    <!--Favicon Information-->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/favicon/apple-touch-icon.png?v=21722" | absolute_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon/favicon-32x32.png?v=21722" | absolute_url }}">
    <link rel="icon" type="image/png" sizes="194x194" href="{{ "/favicon/favicon-194x194.png?v=21722" | absolute_url }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ "/favicon/android-chrome-192x192.png?v=21722" | absolute_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon/favicon-16x16.png?v=21722" | absolute_url }}">
    <link rel="manifest" href="{{ "/favicon/site.webmanifest?v=21722" | absolute_url }}">
    <link rel="mask-icon" href="{{ "/favicon/safari-pinned-tab.svg?v=21722" | absolute_url }}" color="#ca5a4f">
    <link rel="shortcut icon" href="{{ "/favicon/favicon.ico?v=21722" | absolute_url }}">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="{{ "/favicon/mstile-144x144.png?v=21722" | absolute_url }}">
    <meta name="msapplication-config" content="{{ "/favicon/browserconfig.xml?v=21722" | absolute_url }}">
    <meta name="theme-color" content="#ca5a4f">

    <!-- Primary Meta Tags -->
    <title>New Caledonia - {{ page.title }}</title>
    <meta name="title" content="New Caledonia - {{ page.title | default: "404" }}">
    <meta name="description" content="{{ page.description | default: site.description }}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}/{{ page.folder | default: "404" }}/">
    <meta property="og:title" content="New Caledonia - {{ page.title | default: "404" }}">
    <meta property="og:description" content="{{ page.description | default: site.description }}">
    <meta property="og:image" content="{{ page.image | default: "https://newcaledonia.us/images/logo.jpg" }}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ site.url }}/{{ page.folder | default: "404" }}/">
    <meta property="twitter:title" content="New Caledonia - {{ page.title | default: "404" }}">
    <meta property="twitter:description" content="{{ page.description | default: site.description }}">
    <meta property="twitter:image" content="{{ page.image | default: "https://newcaledonia.us/images/logo.jpg"}}">

    
    <!-- Vendor CSS Files -->
    <link href="{{ "vendor/bootstrap/css/bootstrap.min.css" | absolute_url }}" rel="stylesheet">
    <link href="{{ "vendor/Bootstrap-Cookie-Alert/cookiealert.css" | absolute_url }}" rel="stylesheet">
    <link href="{{ "vendor/icofont/icofont.min.css" | absolute_url }}" rel="stylesheet">
    <link href="{{ "css/style.css" | absolute_url }}" rel="stylesheet">

    <link href="{{ "css/colormode.css" | absolute_url }}" rel="stylesheet">
    <script src="{{ "vendor/jquery/jquery.min.js" | absolute_url }}"></script>
    <script src="{{ "js/colormode.js" | absolute_url }}"></script>
    <script src="{{ "js/navbar.js" | absolute_url }}"></script>
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center" data-aos="zoom-out-down">
        <div class="container d-flex align-items-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
                    <li class="breadcrumb-item"><a href="https://dash.newcaledonia.us/">Home</a></li> {% for crumb in crumbs offset: 1 %} {% if forloop.last %} <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li> {% else %}
                    <li class="breadcrumb-item"><a
                        href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{
                        crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a></li> {% endif %} {% endfor %}
                </ol>
            </nav>
        </div>
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="get-started btn" id="darkToggle" ontouchstart="touchDark()" onclick="touchDark();">Switch to
                    <span class=" dark-only">light</span><span class="light-only">dark</span>mode
                </li>
            </ul>
        </nav>
    </header>
    <!-- End Header -->

    <div class="container my-4">
        <div class="p-3 mb-4">
            <div class="text-center">
                <br>
                <br>
                <p>Redirecting you to <a href="{{ page.redirect_url }}">{{ page.display_url }}</a>
                </p>
                <a href="{{ page.redirect_url }}"><img src="https://api.screenshotmachine.com/?key=1e29b0&url={{ page.redirect_url }}&device=desktop&dimension=1024x768&format=jpg&cacheLimit=30&delay=9000" class="img-fluid" alt="screenshot"/></a>
                <br>
                <br>
            </div>
        </div>
    </div>

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6 text-lg-left text-center">
                    <div class="copyright">
                        Maintain by <a href="https://mountaintopofficial.ml/"><strong>Mountain Top</strong></a>. All Rights Reserved
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <!-- START Bootstrap-Cookie-Alert -->
    <div class="alert text-center cookiealert" role="alert">
        <b>Do you like cookies?</b> &#x1F36A; We use cookies to ensure you get the best experience on our website. <a href="https://cookiesandyou.com/" target="_blank">Learn more</a>

        <button type="button" class="btn btn-primary btn-sm acceptcookies">
            I agree
        </button>
    </div>
    <!-- END Bootstrap-Cookie-Alert -->
    <script src="{{ "vendor/Bootstrap-Cookie-Alert/cookiealert.js" | absolute_url }}"></script>

</body>

</html>