.dark-mode {
    background-color: #0e1111;
    color: white;
}

.dark-mode h2 {
    color: white;
}

.dark-mode .main-menu {
    background-color: #0e1111;
    color: white;
}

.dark-mode .main-menu li a {
    background-color: #0e1111;
    color: white;
}

.dark-mode .portfolio-filter li.mixitup-control-active {
    color: white;
}

.dark-mode button {
    background-color: #0e1111;
    color: white;
    border-color: #0e1111;
}

.dark-mode .pic-frame:after {
    border: 2px solid white;
}

.dark-mode .main-menu {
    background-color: #0e1111;
}

.dark-mode a {
    background-color: #0e1111;
    color: white;
}

.dark-mode .tableRoot {
    background-color: #232b2b !important;
    box-shadow: 0px 0px 20px ##353839 !important;
}